@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

$border-radius: 2rem;
$border: solid 0.2rem;

.container {
    @include generate-flex-properties($align-items: center);

    position: relative;
}

.search {
    border: $border $color-white-1;
    border-radius: $border-radius;
    padding: 1rem 1.5rem;
    font-size: $font-size-md;
    width: 100%;
    transition: border-color 0.3s;
    background-color: transparent;
    color: $color-white-1;

    &::placeholder {
        color: $color-white-1;
    }

    &:focus {
        border-color: $color-blue-1;
        outline: none;

        &::placeholder {
            color: $color-white-2;
        }
    }
}

.icon {
    position: absolute;
    right: 1rem;
    width: 2rem;
    height: 2rem;
}

.donate {
    border: $border $color-blue-1;
    border-radius: $border-radius;
    padding: 1rem 1.5rem;
    width: 100%;

    &::placeholder {
        color: $color-black-2;
    }

    &:focus {
        outline: none;

        &::placeholder {
            color: $color-black-1;
        }
    }
}
