@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
    font-size: 62.5%;
}

body {
    font-size: $font-size-sm;
    font-family: $font-family-sans-serif;
    line-height: 1.5;
}
