$font-size-xxs: 1.2rem;
$font-size-xs: 1.4rem;
$font-size-sm: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.2rem;
$font-size-xxxl: 4.8rem;

$font-family-sans-serif: "Inter", sans-serif;

$color-white-1: #ffffff;
$color-white-2: #ffffff9a;
$color-black-1: #000000;
$color-black-2: #232020;
$color-blue-1: #005695;
$color-blue-2: #0157944d;
$color-blue-3: #0157944d;

$primary-gradient: linear-gradient(90deg, #001b2f 0%, #005695 100%);

$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-header-form: 1100px;
